<div class="image width-{{ item.value.width }}">
  <picture>
    <source media="(max-width: 500px)" srcset="{{ item.value.url_sm }}" />
    <source media="(max-width: 960px)" srcset="{{ item.value.url_md }}" />
    <source media="(min-width: 961px)" srcset="{{ item.value.url_lg }}" />
    <img
      src="{{ item.value.url_md }}"
      alt="Chris standing up holding his daughter Elva"
    />
  </picture>
  <if condition="item.value.caption">
    <p class="image-caption-text">
      {{ item.value.caption }}
      <!--
      <span class="image-credit">
        Photography by {{ item.value.credit}}
      </span>
      -->
    </p>
  </if>
</div>
