@import "styles/spectate";

// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

#postings-over-time {
  svg {
    display: block;
    margin: 0 auto;

    path {
      fill: none;
      stroke: red;
      stroke-width: 1px;
    }

    .domain {
      display: none;
    }

    g text {
      font-family: Roboto;
      font-size: 14px;
    }

    .tick line {
      stroke: lightgrey;
      stroke-opacity: 0.7;
      shape-rendering: crispEdges;
    }

    .grid path {
      stroke-width: 0;
    }
  }
}

#canceled-internships {
  svg {
    display: block;
    margin: 0 auto;
  }
}
