@import 'styles/spectate';

// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

#postings-over-time {
  svg {
    display: block;
    margin: 0 auto;

    path {
      fill: none;
      stroke: red;
      stroke-width: 1px;
    }

    .domain{
      stroke: black;
      stroke-width: 1px;
    }

    g text {
    	font-family: roboto;
    } 
  }
}
