@import 'styles/spectate';

// Uncomment the next line if this project is a News story
// @import 'styles/news-ellipsis';

#canceled-internships {
  position: sticky;
  top: 0;
  z-index: 0;

  svg {
    display: block;
    margin: 0 auto;

    circle.bigBusiness {
      fill-opacity: 0.3;
    }

    circle.softwareBig {
      fill-opacity: 0.5;
    }

    circle#highlight-circle {
      stroke: black;
      stroke-width: 2px;
      fill: none;
      transition-duration: .3s;
      transition-property: opacity;
    }
  }
}

#scrolly2 {
  position: relative;

  #postings-over-time {
    position: sticky;
    top: 0;
    z-index: 0;

    svg {
      display: block;
      margin: 0 auto;

      path#rawCount {
        fill: none;
        stroke: grey;
        stroke-width: 1px;
      }

      path#rollingMean {
        fill: none;
        stroke: red;
        stroke-width: 2px;
      }

      .domain {
        display: none;
      }

      g text {
        font-family: Roboto;
        font-size: 14px;
      }

      .tick line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
      }

      .grid path {
        stroke-width: 0;
      }

      line {
        stroke: black;
        stroke-width: 2px;
      }
    }
  }
}

#text {
  position: relative;
  margin: 0 auto;
  max-width: 200;
  pointer-events: none;

  .step {
    padding-bottom: 80vh;
    z-index: 1;

    p {
      pointer-events: all;
    }
  }
}

body.fixed {
  width: 100%;
  position: fixed;
}

#industry-impact-overflow {
  overflow-x: scroll;
  height: 100vh;
}

#industry-impact-container {
  width: 2000px;
  height: 100%;
  background: repeating-linear-gradient(transparent, #4d9f0c 40px),
    repeating-linear-gradient(0.25turn, transparent, #3f87a6 20px);
}

#jasons-detection {
  display: none;
  height: 1px;
  margin-bottom: 100vh;
}

/* Hides horizontal scrollbar */
#industry-impact-overflow {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#industry-impact-overflow::-webkit-scrollbar {
  // display: none;  /* Safari and Chrome */
}
